

/* Form styling copied and modified from form.css */


.UF_formTitle {
	padding-left: 110px;	
}

.UF_formSec {
	font-family: 'Open Sans', sans-serif;	/*Imported font provided by google fonts*/
	margin-top: 80px;
}

.UF_formRow {
	padding-left: 115px;
	float: left;
	margin-top: 20px;
}

.UF_formWidth {
	float: left;
	width: 170px;	/*Allows for distance between text and textboxes/dropdown menus*/
}

.UF_form_Fieldset {
	margin: 0 auto 50px auto;	/* using a single margin tag to describe top, right, bottom and left sides of margin */ 
	padding: 20px;
	padding-top: 5px;
	width: 800px;
	box-shadow: 0 11px 20px -9px #333;	/*Shadow before hover*/
	transition: all .15s ease-in-out;	/*Transition for the shadow*/
	background-image: linear-gradient(#f2f2f2, #b3b3b3);	/*Gradient from 94% to 75% of black*/
}

.UF_form_Fieldset:hover {
box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.7);	/*Shadow after hover*/
}

.UF_txtBox {				/*text box styling*/
	margin-top:10px;
	font-size: 14px;
	font-family: arial, sans-serif;
}





.UF_pR_Textarea {
	resize: none;	/*stops the ability to resize the textarea */
	border: none;
	background: transparent;
	font-family: Verdana,sans-serif;
	font-size: 12px;
	overflow: hidden;	/* hides scroll bar as overflow is hidden, makes it look cleaner */
	float: right;
	padding-top: 5px;
	width: 290px;
}

.UF_pR_Textarea:focus {	/*Removes blue border when clicking on the element*/
    outline-width: 0;
}

.UF_Browse {
	width:190px;
}

.F_HR_IMG {
	width: 545px;
	float: left;
}


.U_Button{
	width: 100%;
	Height: 80px;
	text-align:center;
	display:inline-block;
	margin-top: 15px;
	margin-bottom: 20px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}


.U_Close_A{
	padding: 15px 87px 15px 87px;
	font-size: 25px;
	text-decoration: none;
	color: white;
	background-color: #58C3E0;
	box-shadow: 0px 5px 0px 0px #089AC1;
	border-radius: 6px;
	float: left;
	margin-left: 377px;	/* button length - 100% width in px / 2 */
}

.U_Close_A:active {				/*when the button is pressed */
	transform: translate(0px, 5px);
	box-shadow: 0px 0px 0px 0px;
}

.U_Close_A:hover {				/*when the button has the mouse on it 'hovering' */
	background-color: #7ed0e7;
}






.UF_Submit_I{
	padding: 8px 18px 8px 18px;
	font-size: 14px;
	text-decoration: none;
	color: white;
	background-color: #58C3E0;
	box-shadow: 0px 4px 0px 0px #089AC1;
	float: right;
    border-style: outset;
    border-width: 2px;
    border-color: #e6e6e6;
}

.UF_Submit_I:active {				/*when the button is pressed */
	transform: translate(0px, 4px);
	box-shadow: 0px 0px 0px 0px;
}

.UF_Submit_I:hover {				/*when the button has the mouse on it 'hovering' */
	background-color: #7ed0e7;
}



.UF_Cancel_I{
	padding: 6.5px 19px 6.5px 19px;
	font-size: 14px;
	text-decoration: none;
	color: white;
	background-color: #ff8566;
	box-shadow: 0px 4px 0px 0px #cc2900;
	float: right;
    border-style: outset;
    border-width: 2px;
    border-color: #e6e6e6;
	margin-left: 30px;
}

.UF_Cancel_I:active {				/*when the button is pressed */
	transform: translate(0px, 4px);
	box-shadow: 0px 0px 0px 0px;
}

.UF_Cancel_I:hover {				/*when the button has the mouse on it 'hovering' */
	background-color: #ffad99;
}


/*  * *:hover { border:1px solid #89A81E }	*/		/*A useful piece of code to debug the positions of elements on a website */


